<div class="container footer">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{T "footer_cloudops" }}</h4>
            <a href="cloudops.com"><img class="cloudops-logo" src="/images/Logo/cloudops.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>{{T "footer_presentation" }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>&copy; {{T "footer_copyright" }}</p>
        </div>
    </div>
</div>