<div class="container footer">
    <div class="row">
        <div class="col-sm-12">
            <h4>Cloud Native Day 2019 will be organized by</h4>
            <a href="#"><img class="cloudops-logo" src="/images/Logo/cloudops.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>CloudOps is a cloud solutions company that focuses on open source, cloud platforms, networking, and
                DevOps.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>&copy; 2019 Cloud Native Day</p>
        </div>
    </div>
</div>