<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TB2MSLN');</script>
    <!-- End Google Tag Manager -->

    <!-- CSS -->
    <link rel="preload stylesheet" as="style" type="text/css" href="{{ "css/style.css" | absURL }}">
    <!-- FAVICON -->
    <link rel="icon no-follow" href="/images/favicon.ico" type="image/x-icon">
    <!-- FONTS -->
    <link rel="stylesheet preload no-follow" as="font" href="https://use.typekit.net/qkk4xfh.css">
    <link rel="stylesheet preload no-follow" as="font" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet preload no-follow" as="style" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet preload no-follow" as="font" href="https://use.fontawesome.com/releases/v5.8.2/css/brands.css" integrity="sha384-i2PyM6FMpVnxjRPi0KW/xIS7hkeSznkllv+Hx/MtYDaHA5VcF0yL3KVlvzp8bWjQ" crossorigin="anonymous">
    <link rel="stylesheet preload no-follow" as="font" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
    {{ if .IsHome }}
        <title>Cloud Native Day</title>
    {{ else }}
        <title>Cloud Native Day - {{ .Title }}</title>
    {{ end }}
</head>